{% extends "blog/base.html" %}
{% block content %}
     <h1>About InterBlog </h1>
     <br>
     <br>

<div class="center">
<p> InterBlog is an Website that helps you to write anything you wish . </p>
<p> It even helps you to create and update your own profile .</p>
<p> Basically you can read what others write as everyone's blog will be displayed on the home page.</p>
<p> You can delete as well as update your own blogs .</p>
<p> This Website guarantes security that no one  can update or delete your blogs (Only the account holder can )</p>
<h2>HAPPY BLOGGING !!!!</h2>
<br>
<br>

</div>
{% endblock content %}
